.car-route {
    width: 100%;
    height: 5rem;
    border-bottom: honeydew 3px dotted;
    font-size: 4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;

    .car-name {
        display: flex;
        align-items: flex-start;
        color: white;
        font-size: 14px;
        padding-bottom: 1rem;
    }
}

.btns-container {
    width: 4rem;
    height: 100%;
    position: absolute;
    left: calc(0% + 6rem);
    bottom: 0px;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 1rem;

    .select,
    .remove {
        width: 100%;
    }
}

.move-btn {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 6px;
}

.fa-flag-checkered {
    margin-right: 8rem;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.fa-car-side {
    font-size: 4rem;
    position: absolute;
    left: 0%;
    bottom: 0px;
}