.register-input {
    width: 12rem;
    height: 2rem;
    color: rgb(65, 90, 151);
    font-weight: 600;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: .5rem;

    &::placeholder {
        color: lightgray;
    }
}