@media (max-width: 1600px) {
  main .map #popup-panda {
    top: 19.9rem;
    left: 54rem;
  }
}

@media (max-width: 1201px) {
  main .carousel {
    margin-top: 1.8rem;
    width: 66%;
  }
  main .carousel .carousel-range__container {
    margin-top: 3rem;
    margin-left: 0rem;
  }
  main .map {
    margin-top: 0;
  }
  main .map .map-eagle {
    left: 9.7%;
    top: 23%;
  }
  main .map .map-gorilla {
    left: 46.7%;
    top: 37.5%;
  }
  main .map .map-panda {
    left: 73%;
    top: 23.9%;
  }
  main .map .map-crocodile {
    left: 19.5%;
    top: 27%;
  }
  main .map .map-animal-image {
    left: 10%;
    top: 10.7%;
  }
  main .map form {
    margin-top: 2.7rem;
  }
  main .map__container {
    width: 80rem;
    margin-top: 4.6rem;
  }
  main .map__container #map {
    height: 39rem;
  }
  main .map__container .map-animal {
    width: 8.3rem;
    height: 8.3rem;
  }
  footer .footer__wrapper {
    height: 34rem;
  }
}

@media (max-width: 950px) {
  .carousel {
    width: 100% !important;
  }
  main .map__container {
    width: 60rem;
  }
}

@media (max-width: 800px) {
  main p {
    width: 60rem;
  }
  main .map form {
    margin-top: 6.4rem;
    margin-bottom: 8rem;
  }
  main .map .map-eagle {
    left: 7.7%;
    top: 25%;
  }
  main .map .map-crocodile {
    left: 18.3%;
    top: 29%;
  }
  main .map .map-gorilla {
    left: 45.7%;
    top: 36.5%;
  }
  main .map .map-panda {
    left: 72%;
    top: 25.9%;
  }
  main #map {
    height: 29rem;
  }
  main .map__wrapper {
    height: 26rem;
    width: 100%;
    margin-top: -1.5rem;
  }
}

@media (max-width: 630px) {
  main p {
    width: 28rem;
  }
  main .map__container {
    width: 28rem;
    margin-top: -5.4rem;
    margin-bottom: -14rem;
  }
  main .map .map-animal {
    width: 3.4rem;
    height: 4.8rem;
  }
  main .map .map-animal-image {
    width: 2.1rem;
    height: 2.1rem;
    left: 21%;
  }
  main .map .map-eagle {
    left: 8.7%;
    top: 37%;
  }
  main .map .map-crocodile {
    top: 40%;
  }
  main .map .map-gorilla {
    left: 44.7%;
    top: 42.5%;
  }
  main .map .map-panda {
    left: 72%;
    top: 36.9%;
  }
}

@media (max-width: 505px) {
  main .map form {
    margin-top: -9.6rem;
    margin-bottom: 33rem;
  }
  main .map__container {
    margin-top: -5.4rem;
    margin-bottom: 0rem;
  }
  main .carousel ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .carousel ul .animal-round {
    width: 6rem;
    height: 6rem;
  }
  main .carousel ul .animal-round img {
    width: 6rem;
    height: 6rem;
  }
  main .carousel ul .animal-active {
    width: 9.5rem;
    height: 9.5rem;
  }
  main .carousel ul .animal-active img {
    width: 8.5rem;
    height: 8.5rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 380px) {
  main .carousel {
    margin-top: 2.8rem;
  }
  main .carousel .carousel-range__container {
    margin-top: -1.3rem;
    margin-left: 2.4rem;
  }
  main .carousel ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main h3 {
    font-size: 2.4rem;
    margin-bottom: -1.4rem;
    margin-top: 2rem;
  }
  main p {
    font-size: 1.2rem;
    width: 28rem;
    margin-top: 0.7rem;
  }
  main .carousel__container {
    margin-top: -3rem;
  }
  main .carousel__container .arrow-right {
    padding-right: 1.5rem;
  }
  main .map__container {
    width: 28rem;
    margin-top: -10.4rem;
  }
  main .map__container #map {
    height: 57%;
    margin-top: -7.5rem;
  }
  main .map {
    margin-top: -10.5rem;
  }
  main .map form {
    margin-top: 5.4rem;
    margin-bottom: 9rem;
  }
  main .map button {
    margin-top: 7.4rem;
  }
  main .map button p {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=media-style.css.map */