@media (max-width: 1301px) {
    main {
        .carousel {
            ul {
                .zebra,
                .lion,
                .elephant {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1302px) and (max-width: 1500px) {
    main {
        .carousel {
            ul {
                .zebra,
                .lion {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1201px) {
    main {
        .carousel {
            margin-top: 1.8rem;
            width: 66%;

            &__container {
                .arrow-right {
                    padding-left: 2rem;
                }
            }

            .carousel-range__container {
                margin-top: 3rem;
                margin-left: 0rem;
            }
        }

        .map {
            .map-eagle {
                left: 9.7%;
                top: 23%;
            }

            .map-gorilla {
                left: 46.7%;
                top: 37.5%;
            }

            .map-panda {
                left: 73%;
                top: 23.9%;
            }

            .map-crocodile {
                left: 19.5%;
                top: 27%;
            }

            form {
                margin-top: 2.7rem;
            }
            &__container {
                width: 80rem;
                margin-top: 9.6rem;

                #map {
                    height: 39rem;
                }

                .map-animal {
                    width: 8.3rem;
                    height: 8.3rem;
                }
            }
        }
    }

    footer {
        .footer__wrapper {
            height: 34rem;
        }
    }
}

@media (max-width: 950px) {
    .carousel {
        width: 100% !important;
    }
    main {
        .map__container {
            width: 60rem;
        }
    } 
}

@media (max-width: 800px) {
    main {
        p {
            width: 60rem;
        }

        .map {
            form {
                margin-top: 6.4rem;
                margin-bottom: 8rem;
            }

            .map-eagle {
                left: 7.7%;
                top: 25%;
            }
    
            .map-crocodile {
                left: 18.3%;
                top: 29%;
            }
    
            .map-gorilla {
                left: 45.7%;
                top: 36.5%;
            }
    
            .map-panda {
                left: 72%;
                top: 25.9%;
            }
        }


            #map {
                height: 29rem;
            }

        .map__wrapper {
            height: 26rem;
            width: 100%;
            margin-top: -1.5rem;
        }

        .carousel__container {
            .arrow-right {
                padding-left: 0;
                margin-left: 1rem;
                padding-right: 0.5rem
            }

            .arrow-left {
                margin-left: 1.5rem;
            }
        }
    }
}

@media (max-width: 630px) {
    .eagle {
        display: none;
    }

    main {
        p {
            width: 28rem;
        }
        .map__container {
            width: 28rem;
            margin-top: -5.4rem;
            margin-bottom: -14rem;
        }

        .map {

            .map-animal {
                width: 3.4rem;
                height: 4.8rem;
            }

            .map-animal-image {
                width: 2.1rem;
                height: 2.1rem;
                left: 21%;
            }

            .map-eagle {
                left: 8.7%;
                top: 37%;
            }
    
            .map-crocodile {
                top: 40%;
            }
    
            .map-gorilla {
                left: 44.7%;
                top: 42.5%;
            }
    
            .map-panda {
                left: 72%;
                top: 36.9%;
            }
        }
    } 
}

@media (min-width: 1501px) and (max-width: 1700px) {
    main {
        .carousel {
            ul {
                .zebra {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1140px) {
    .tiger {
        display: none;
    }
}

@media (max-width: 505px) {
    main {
        .map {
            form {
                margin-top: -9.6rem;
                margin-bottom: 33rem;
            }
        }

        .map__container {
            margin-top: -5.4rem;
            margin-bottom: 0rem;
        }
        .carousel {
            ul {
                justify-content: space-around;

                .animal-round {
                    width: 6rem;
                    height: 6rem;

                    img {
                        width: 6rem;
                        height: 6rem;
                    }
                }

                .animal-active {
                    img {
                        width: 8.5rem;
                        height: 8.5rem;
                        margin-top: 0.5rem;
                    }

                    width: 9.5rem;
                    height: 9.5rem;
                }
            }
        }
    }
}

@media (max-width: 380px) {
    main {
        .carousel {
            margin-top: 2.8rem;
            .carousel-range__container {
                margin-top: -1.3rem;
                margin-left: 2.4rem;
            }

            ul {
                justify-content: space-between;
            }
        }

        h3 {
            font-size: 2.4rem;
            margin-bottom: -1.4rem;
            margin-top: 2rem;
        }

        p {
            font-size: 1.2rem;
            width: 28rem;
            margin-top: 0.7rem;
        }

        .carousel__container {
            margin-top: -3rem;
            .arrow-right {
                padding-right: 1.5rem;
            }
        }

        .map__container {
            width: 28rem;
            margin-top: -10.4rem;

            #map {
                height: 57%;
                margin-top: -7.5rem;
            }
        }

        .map {
            margin-top: -10.5rem;
            form {
                margin-top: 5.4rem;
                margin-bottom: 9rem;
            }

            button {
                margin-top: 7.4rem;

                p {
                    margin-top: 2rem;
                }
            }
        }
    }
}