@media (max-width: 1201px) {
  main .carousel {
    margin-top: 1.8rem;
    width: 66%;
  }
  main .carousel__container .arrow-right {
    padding-left: 2rem;
  }
  main .carousel .carousel-range__container {
    margin-top: 3rem;
    margin-left: 0rem;
  }
  main .map .map-eagle {
    left: 9.7%;
    top: 13%;
  }
  main .map .map-gorilla {
    left: 46.7%;
    top: 39.5%;
  }
  main .map .map-panda {
    left: 73%;
    top: 16.9%;
  }
  main .map form {
    margin-top: 8.4rem;
  }
  main .map__container {
    width: 67%;
    margin-top: 9.6rem;
  }
  main .map__container #map {
    height: 114%;
  }
  main .map__container .map-animal {
    width: 8.3rem;
    height: 8.3rem;
  }
  footer .footer__wrapper {
    height: 34rem;
  }
}

@media (max-width: 950px) {
  .carousel {
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  main p {
    width: 60rem;
  }
  main .map form {
    margin-top: 6.4rem;
    margin-bottom: 8rem;
  }
  main .map .map-eagle {
    left: 9.7%;
    top: 0%;
  }
  main .map .map-crocodile {
    left: 18%;
    top: 3%;
  }
  main .map .map-gorilla {
    left: 45.7%;
    top: 26.5%;
  }
  main .map .map-panda {
    left: 72%;
    top: 1.9%;
  }
  main .map__container {
    width: 94%;
  }
  main .map__wrapper {
    height: 26rem;
    width: 100%;
    margin-top: -1.5rem;
  }
  main .carousel__container .arrow-right {
    padding-left: 0;
    margin-left: 1rem;
    padding-right: 0.5rem;
  }
  main .carousel__container .arrow-left {
    margin-left: 1.5rem;
  }
}

@media (max-width: 630px) {
  .eagle {
    display: none;
  }
}

@media (max-width: 1301px) {
  main .carousel ul .zebra,
  main .carousel ul .lion,
  main .carousel ul .elephant {
    display: none;
  }
}

@media (min-width: 1302px) and (max-width: 1500px) {
  main .carousel ul .zebra,
  main .carousel ul .lion {
    display: none;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
  main .carousel ul .zebra {
    display: none;
  }
}

@media (max-width: 1140px) {
  .tiger {
    display: none;
  }
}

@media (max-width: 505px) {
  main .carousel ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .carousel ul .animal-round {
    width: 6rem;
    height: 6rem;
  }
  main .carousel ul .animal-round img {
    width: 6rem;
    height: 6rem;
  }
  main .carousel ul .animal-active {
    width: 9.5rem;
    height: 9.5rem;
  }
  main .carousel ul .animal-active img {
    width: 8.5rem;
    height: 8.5rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 380px) {
  main .carousel .carousel-range__container {
    margin-top: -1.3rem;
    margin-left: 2.4rem;
  }
  main .carousel ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main h3 {
    font-size: 2.4rem;
    margin-bottom: -1.4rem;
    margin-top: 1rem;
  }
  main p {
    font-size: 1.2rem;
    width: 88%;
  }
  main .carousel__container {
    margin-top: -3rem;
  }
  main .carousel__container .arrow-right {
    padding-right: 1.5rem;
  }
  main .map__container #map {
    height: 57%;
    margin-top: -7.5rem;
  }
  main .map .map-eagle {
    left: 8.7%;
    top: -36%;
  }
  main .map .map-crocodile {
    top: -33%;
  }
  main .map .map-gorilla {
    left: 44.7%;
    top: -21.5%;
  }
  main .map .map-panda {
    top: -33.1%;
  }
  main .map .map-animal {
    width: 3.4rem;
    height: 4.7rem;
  }
  main .map .map-animal-image {
    left: 17%;
    width: 2.2rem;
    height: 2.2rem;
  }
}
/*# sourceMappingURL=media-style.css.map */