$gray1: #333333;
$gray6: #F2F2F2;
$gray2: #4F4F4F;
$gray4: #bdbdbd;
$gray2-round: #1B1B1B;
$base: #FEFEFE;
$gradient-green: #4BD8B5;
$gradient-blue: #49D6DF;

html { 
    font-size: 10px; 
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    width: 100%;
}

// main {
//     width: 100%;
//     height: 100vh;
// }

@mixin range {
    input[type=range] {
        height: 0.5rem;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 24.5rem;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #B6B6B6;
        border-radius: 0px;
      }
      input[type=range]::-webkit-slider-thumb {
        height: 10px;
        width: 30px;
        border-radius: 0px;
        background: $gray1;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -2.5px;
      }
      input[type="range"]::-webkit-slider-container {
          height: 0.5rem;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #B6B6B6;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #B6B6B6;
        border-radius: 0px;
        border: 0px solid #8A8A8A;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #828282;
        border: 0px solid #8A8A8A;
        height: 10px;
        width: 30px;
        border-radius: 0px;
        background: #FEFEFE;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #B6B6B6;
        border: 0px solid #8A8A8A;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000;
      }
      input[type=range]::-ms-fill-upper {
        background: #B6B6B6;
        border: 0px solid #8A8A8A;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #828282;
        border: 0px solid #8A8A8A;
        height: 10px;
        width: 30px;
        border-radius: 0px;
        background: #FEFEFE;
        cursor: pointer;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #B6B6B6;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #B6B6B6;
      }
}

@mixin navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 57.3rem;

    .nav-item-active {
        text-decoration: underline;
        font-weight: 900;
        pointer-events: none;
        cursor: none;
    }

    .nav-item {
        font-size: 1.6rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            text-decoration: underline;
            font-weight: 900;
        }

        a {
            text-transform: capitalize;
            text-decoration: none;
        }
    }
}

header {
    background-color: #fff;
    height: 9.4rem;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
    display: flex;

    #menu {
        display: none;
    }

    .header-wrapper {
        display: flex;
        width: 162rem;
        margin: 0 15rem;
        justify-content: space-between;

        ul {
            padding: 0;
            padding-top: 1rem;
            @include navbar();
            .nav-item > a {
                color: $gray1;
            }
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 6rem;
        height: 3.4rem;

        input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $gray6;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: $gray2;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        
          .slider.round {
            border-radius: 34px;
          }

          input:checked + .slider.round:before {
              background-color: $gray2-round;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
    }
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;

    h3 {
        margin-bottom: 0.6rem;
    }

    label {
        color: $gray1;
        font-size: 2.4rem;
        font-weight: 900;
    }

    .range-amount {
        font-size: 1.4rem;
        line-height: 1.641rem;
        color: #B6B6B6;
        font-weight: 900;
    }

    p {
        color: $gray2;
        font-size: 1.4rem;
        width: 79rem;
    }

    .carousel {
        max-width: 119.9rem;
        width: 66%;
        height: 23.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;

        &__container {
            width: 100%;
            height: 15.7rem;
            display: flex;
            align-items: center;

            .arrow {
                cursor: pointer;
                transition: all 0.3s ease-in-out;
        
                &:hover {
                    opacity: 0.5;
                }
            }
        
            .arrow-left {
                transform: rotate(180deg);
            }
        }

        .carousel-range__container {
            @include range();
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 3.4rem;
            margin-left: -4rem;
        }

        ul {
            padding: 0;
            list-style: none;
            width: 91.5%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            li {
                width: 10.8rem;
                height: 10.8rem;
                background-size: cover;
                text-align: center;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            .animal-round:hover {
                transform: scale(1.1);
            }

            .animal-active {
                width: 15.7rem;
                height: 15.7rem;
                background-image: url(../../assets/map/ellipse.svg);
                background-size: cover;
                margin-left: -2rem;
                margin-right: -2rem;

                img {
                    width: 13.7rem;
                    height: 13.7rem;
                    display: block;
                    margin-top: 1rem;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .map {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: -5rem;

        h3 {
            margin-top: 10rem;
        }

        form {
            height: 5.5rem;
            margin-top: 4.4rem;
            margin-bottom: 10rem;
        }

        button {

            p {
                padding-right: 2.5rem;
                font-size: 1.8rem;
                color: #fff;
            }

            img {
                padding-left: 3rem;
            }
        }

        .popup {
            background: $base;
            height: 14.9rem;
            width: 43.6rem;
            box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
            border-radius: 8px; 
            align-items: center;
            position: absolute;
            display: none;
            opacity: 0;



            img {
                width: 6.5rem;
                height: 6.5rem;
                padding-left: 4.4rem;
            }

            &__description {
                margin-left: 2rem;

                .species {
                    font-size: 1.8rem;
                    color: $gray1;
                    font-weight: 900;
                }

                .facts {
                    font-size: 1.4rem;
                    color: $gray2;
                    line-height: 1.6rem;

                    ul {
                        list-style: none;
                        padding-left: 0;

                        span {
                            font-weight: 500;
                            color: $gray1;
                        }
                    }
                }
            }
        }

        #popup-panda {
            top: 15.9rem;
            left: 96rem;
        }

        #popup-eagle {
            top: 15.9rem;
            left: -23.3rem;
        }

        #popup-crocodile {
            left: -11rem;
            top: 19rem;
        }

        #popup-gorilla {
            left: 22rem;
            top: 27rem;
        }

        &__container {
            width: 63%;
            margin-top: 13rem;
            position: relative;

            #map {
                width: 100%;
                margin: 0 auto;
            }
        }

        .map-animal {
            display: block;
            content: ' ';
            background: url(../../assets/landing/test.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 9.3rem;
            height: 9.3rem;
            position: absolute;

            &:hover,
            .map-animal-image:hover {
                cursor: pointer;
                background: url(../../assets/landing/test2.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .map-animal:hover + .popup {
            display: flex;
            opacity: 1;
        }

        .map-crocodile {
            left: 20%;
            top: 17%;
        }

        .map-eagle {
            left: 10.5%;
            top: 16%;
        }

        .map-panda {
            left: 73.5%;
            top: 19.9%;
        }

        .map-animal-image {
            position: absolute;
            left: 13%;
            top: 12.7%;
            width: 4.3rem;
            height: 4.3rem;
        }

        .map-gorilla {
            left: 47.7%;
            top: 36.5%;
        }
    }
}


footer {
    width: 100%;
    height: 75.1rem;
    background: $gray1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
        @include navbar();
        width: 40.4rem;
        li > a {
            color: $base;
        }
    }

    .footer__navbar {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    .footer__container {
        max-width: 162rem;
        width: 85%;
        height: 80%;
        display: flex;
        justify-content: space-between;

        .footer__left {
            display: flex;
            flex-direction: column;
            margin-top: -0.5rem;
            width: 53%;

            form {
                margin-top: -1.18rem;
                width: 38rem;
            }                

            .logo {
                margin-top: 1.6rem;
            }

            label {
                color: $gray4;
                line-height: 1.72rem;
            }

            fieldset {
                height: 12.4rem;
                margin-bottom: 2rem;
                margin-top: 3rem;
            }

            input[type="text"] {
                margin-top: 0.6rem;
            }

            input[type="email"] {
                margin-top: 1rem;
            }

            input[type="text"],
            input[type="email"] {
                width: 38rem;
                height: 2.8rem;
            }

            h3 {
                color: $base;
                font-size: 2rem;
                margin-top: 4.8rem;
            }
        }

        .footer__right {
            margin-top: -0.9rem;
            margin-left: 5rem;
            width: 55%;

            h4 {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: $base;
                margin-top: 6rem;
            }

            address {
                width: 19rem;
                display: flex;
                flex-direction: column;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: $base;
                height: 9.4rem;
                justify-content: space-between;
                margin-top: 2.5rem;
                height: 9.9rem;

                p {
                    margin: 0;
                    margin-top: 0.9rem;
                }

                a {
                    color: $base;
                }
            }

            .social-media {
                flex-direction: row;
                width: 12.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.1rem;

                img {
                    transition: all 0.3s ease-in-out;
                }

                img:hover {
                    opacity: 0.5;
                }
            }
        }

        button[type="submit"] {
            width: 10.8rem;
            height: 1.6rem;
            justify-content: space-between;
            background: rgba(0,0,0,0);
            font-size: 1.4rem;
            margin-left: 26rem;
            margin-top: 1.8rem;
            
            &:hover {
            opacity: 0.5;
        }
        }

    .footer__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            max-width: 79.5rem;            
            ul {
                max-width: 40.4rem;
                width: 100%;
                justify-content: space-between;
                padding: 0;
                margin-right: 11rem;
            }
        }

        button {
            width: 27.9rem;
        }
    }

        path {
            fill: $base;
        }
    }

    .footer__lower {
        width: 162rem;
        border-top: 0.05rem solid rgba(254, 254, 254, 0.5);
        margin-top: -9rem;
        padding-top: 4.7rem;
        color: $gray4;
        font-size: 1.2rem;

        a {
            pointer-events: none;
            color: $gray4;
        }
    }
}