$gray1: #333333;
$gray6: #F2F2F2;
$gray2: #4F4F4F;
$gray4: #bdbdbd;
$gray2-round: #1B1B1B;
$base: #FEFEFE;
$gradient-green: #4BD8B5;
$gradient-blue: #49D6DF;

html { 
    font-size: 10px; 
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    width: 100%;
}

@mixin range {
    input[type=range] {
        height: 0.5rem;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 24.5rem;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #B6B6B6;
        border-radius: 0px;
      }
      input[type=range]::-webkit-slider-thumb {
        height: 10px;
        width: 30px;
        border-radius: 0px;
        background: $gray1;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -2.5px;
      }
      input[type="range"]::-webkit-slider-container {
          height: 0.5rem;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #B6B6B6;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #B6B6B6;
        border-radius: 0px;
        border: 0px solid #8A8A8A;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #828282;
        border: 0px solid #8A8A8A;
        height: 10px;
        width: 30px;
        border-radius: 0px;
        background: #FEFEFE;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #B6B6B6;
        border: 0px solid #8A8A8A;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000;
      }
      input[type=range]::-ms-fill-upper {
        background: #B6B6B6;
        border: 0px solid #8A8A8A;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #828282;
        border: 0px solid #8A8A8A;
        height: 10px;
        width: 30px;
        border-radius: 0px;
        background: #FEFEFE;
        cursor: pointer;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #B6B6B6;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #B6B6B6;
      }
}

@mixin navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 57.3rem;

    .nav-item-active {
        text-decoration: underline;
        font-weight: 900;
        pointer-events: none;
        cursor: none;
    }

    .nav-item {
        font-size: 1.6rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            text-decoration: underline;
            font-weight: 900;
        }

        a {
            text-transform: capitalize;
            text-decoration: none;
        }
    }
}

header {
    width: 100%;
    background-color: #fff;
    height: 9.4rem;
    align-items: center;
    display: flex;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);

    h1 {
        display: none;
    }

    .header-wrapper {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;

        ul {
            @include navbar();
            .nav-item > a {
                color: $gray1;
            }
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 6rem;
        height: 3.4rem;

        input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $gray6;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: $gray2;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        
          .slider.round {
            border-radius: 34px;
          }

          input:checked + .slider.round:before {
              background-color: $gray2-round;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
    }
}

main {
    height: 128.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;

    label {
        color: $gray1;
        font-size: 2.4rem;
        font-weight: 900;
    }

    .range-amount {
        font-size: 1.4rem;
        line-height: 1.641rem;
        color: #B6B6B6;
        font-weight: 900;
    }

    p {
        color: $gray2;
        font-size: 1.4rem;
        width: 79rem;
    }

    .carousel {
        width: 119.9rem;
        height: 23.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5.4rem;

        &__container {
            width: 100%;
            height: 15.7rem;
            display: flex;
            align-items: center;

            .arrow {
                cursor: pointer;
                transition: all 0.3s ease-in-out;
        
                &:hover {
                    opacity: 0.5;
                }
            }
        
            .arrow-left {
                transform: rotate(180deg);
            }
        }

        .carousel-range__container {
            @include range();
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 5.6rem;
        }

        ul {
            padding: 0;
            list-style: none;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            li {
                width: 10.8rem;
                height: 10.8rem;
                background-size: cover;
                text-align: center;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            .animal-round:hover {
                transform: scale(1.2);
            }

            .animal-active {
                width: 15.7rem;
                height: 15.7rem;
                background-image: url(../../assets/map/ellipse.svg);
                background-size: cover;

                img {
                    width: 13.7rem;
                    height: 13.7rem;
                    display: block;
                    margin-top: 1rem;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .map {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 49.8rem;
        margin-top: 10rem;

        &__container {
            height: 50rem;
            width: 130rem;
            background-image: url(../../assets/landing/map.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-size: contain;
            position: absolute;
        }

        .map-animal {
            position: absolute;
            left: 0;
            top: 0;
            background: none;
            border: none;
            outline: none;
        }

        .map-animal:hover,
        .map-animal-image:hover {
            cursor: pointer;
            path {
                fill: #eb5757;   
            }
        }

        .map-animal-active > g > path {
                fill: #eb5757;
        }

        #panda {
            position: absolute;
            left: 71%;
            top: 14%;
            width: 9.8rem;
            height: 10.8rem;
        }

        #eagle {
            position: absolute;
            left: 12%;
            top: 14%;
            width: 9.8rem;
            height: 10.8rem;
        }

        .map-animal-image {
            position: absolute;
            left: 2.5rem;
            top: 21.7%;
        }

        #crocodile {
            position: absolute;
            left: 21.7%;
            top: 20%;
            width: 9.8rem;
            height: 10.8rem;
        }

        #gorilla {
            position: absolute;
            left: 46.84%;
            top: 36%;
            width: 9.8rem;
            height: 10.8rem;
        }
    }

    button {
        margin-top: 4.6rem;
    }
}

footer {
    width: 100%;
    height: 75.1rem;
    background: $gray1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
        @include navbar();
        width: 40.4rem;
        li > a {
            color: $base;
        }
    }

    .footer__container {
        width: 85%;
        display: flex;
        justify-content: space-between;

        .footer__left {
            display: flex;
            flex-direction: column;

            label {
                color: $gray4;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.4rem;
            }

            fieldset {
                margin-top: 2rem;
                margin-bottom: 2.6rem;
            }

            input[type="text"],
            input[type="email"] {
                width: 40.4rem;
                height: 2.6rem;
            }

            h3 {
                color: $base;
                font-size: 2rem;
                margin-top: 5.7rem;
            }
        }

        .footer__right {
            h4 {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: $base;
                margin-top: 7.4rem;
                margin-left: 3.9rem;
            }

            address {
                width: 19rem;
                display: flex;
                flex-direction: column;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: $base;
                height: 9.4rem;
                justify-content: space-between;
                margin-left: 3.9rem;

                a {
                    text-decoration: none;
                    color: $base;
                }
            }

            .social-media {
                flex-direction: row;
                width: 12.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2rem;
                margin-left: 3.9rem;

                img {
                    transition: all 0.3s ease-in-out;
                }

                img:hover {
                    opacity: 0.5;
                }
            }
        }

        button[type="submit"] {
            width: 10.8rem;
            height: 1.6rem;
            justify-content: space-between;
            background: rgba(0,0,0,0);
            font-size: 1.4rem;
            margin-top: 1.6rem;
            margin-left: 30rem;

            &:hover {
                opacity: 0.5;
            }
        }

    .footer__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            padding-right: 11.2rem;
        }

        button {
            width: 27.9rem;
        }
    }

    .logo {
        position: relative;
        display: inline-block;
        border-bottom: none;
      }

        path {
            fill: $base;
        }
    }

    .footer__lower {
        width: 85%;
        border-top: 0.05rem solid rgba(254, 254, 254, 0.5);
        margin-top: 6rem;
        padding-top: 2.8rem;
        color: $gray4;
        font-size: 1.2rem;

        a {
            pointer-events: none;
            text-decoration: none;
            color: $gray4;
            font-size: 1.2rem;
        }
    }
}