.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    //flex: 1 0 22%;
    margin: 1%;
    perspective: 30rem;
    cursor: pointer;

    &:hover > .card {
        transform: translateZ(2rem);
        box-shadow: 0 0.25rem 1.7rem rgba(0, 0, 0, 0.5);
    }

    &.flipped > .card {
        transform: rotateY(180deg) translateX(-100%);
        transform-origin: left;
    }
} 

.card {
    position: relative;
    width: 7rem;
    height: 9rem;
    transform-style: preserve-3d;
    transform-origin: right;
    transition: all 0.5s;
    box-shadow: 0 0.1 0.25rem black;
    border-radius: .5rem;

    &__front,
    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: .5rem;
        background-position: center;
        background-size: contain;
    }

    &__front {
        background-color: rgb(229, 216, 206);
        background-repeat: no-repeat;
    }

    &__back {
        background-color: darkslateblue;
        background-image: url('../../assets/back2.png');
        transform: rotateY(180deg);
    }
}