@media (max-width: 1480px) {
    footer {
        .footer__navbar {
            button {
                position: absolute;
                margin-top: 64rem;
            }
        }
    }
}

@media (max-width: 1201px) {
    footer {
        .footer__container {
            width: 75%;
            margin-top: 1rem;

            .footer__right {
                margin-top: 0rem;
                margin-right: 4rem;
                margin-left: 8rem;

                h4 {
                    margin-top: 5rem;
                }
            }
        }

        .footer__lower {
            width: 75%;
        }
    }
}

@media (max-width: 960px) {
    footer {
        .footer__container {
            flex-direction: column;
            width: 93%;
            margin-top: 6.5rem;

            .footer__left {
                h3 {
                    margin-top: 18.6rem;
                    position: absolute;
                }
    
                form {
                    position: absolute;
                    margin-top: 25rem;
                }
            }

            .footer__right {
                margin-top: 51.4rem;
                margin-right: 4rem;
                margin-left: 0rem;
            }
        }

        .footer__navbar {

            position: absolute;
            margin-top: -50.1rem;
            
            nav ul {
                flex-direction: column;

                .nav-item {
                    margin-top: 0.5rem;
                }
            }

            button {
                margin-top: -18rem;
                margin-left: 32.2rem;
            }
        }

        .footer__lower {
            max-width: 162rem;
            width: 90%;
        }
    }
}

@media (max-width: 630px) {
    main {
        p {
            width: 90%;
        }
    }
    footer {
        .footer__container {
            .footer__navbar {
                button {
                    margin-top: 149rem;
                    margin-left: 50%;
                }
            }
        }

        .footer__lower {
            margin-top: 14rem;
        }
    }
}

@media (max-width: 400px) {
    footer {
        .footer__container {
            margin-top: -0.2rem;

            button[type="submit"] {
                margin-left: 18.4rem;
            }

            .footer__navbar {
                nav {
                    ul {
                        margin-top: 2rem;
                    }
                }

                button {
                    margin-left: 6%;
                }
            }

            .footer__right {
                margin-top: 50.3rem;
            }

            .footer__left {
                input[type="text"],
                input[type="email"] {
                width: 27rem;
                height: 2.8rem;
                }

                h3 {
                    margin-top: 19.6rem;
                }

                form {
                    margin-top: 26rem;
                }
            

            fieldset {
                height: 12.4rem;
                width: 27rem;
            }

            textarea {
                width: 27rem;
            }

            form {
                width: 30rem;
            }
            }
        }
    }
}

