@media (max-width: 1201px) {
    main {
        .mission {
            height: 100%;
        }
        .favorite-animal {
            .carousel-range__container {
                margin-left: 70%;
                margin-top: -4rem;
            }

            #line {
                top: 61.6rem;
                left: 40%;
            }

            .social-media {
                margin-top: 32rem; 
                margin-left: 5.4rem;
            }
        }

        .how-it-works__container {
            margin-top: 1.74rem;

            .how-it-works__range-container {
                margin-top: 3.4rem;
            }

            h3 {
                padding-left: 2.5rem;
            }

            p {
                margin-top: -2rem;
                width: 94%;
            }

            button {
                p {
                    padding-right: 2.5rem;
                }

                img {
                    width: 3.2rem;
                    height: 3.2rem;
                    padding-left: 3rem;
                }
            }

            img {
                margin-top: 0;
                width: 94.4%;
                height: 32.5rem;
            }
        }

        .pets {
            h3 {
                margin-top: 10.5rem;
            }
            #choose-button {
                margin-top: 2.5rem;
            }
            &-range__container {
                margin-top: -0.5rem;
            }
            &__carousel {
                width: 83%;
                margin-top: -5.7rem;
            }
            &__carousel__items {
                width: 90.6%;
                .item {
                    height: 30.1rem;
                    max-width: 21rem;
                    width: 32%;

                    .description {
                        width: 18rem;
                        margin: -1rem auto;
                        margin-left: 1rem;
                    }
                }

                .item:hover {
                    .pets__buttons {
                        opacity: 1;
                        transition: 1s;
                        transform: translateY(-11rem);
                        z-index: 1000;
                        transition: all 1s ease-in-out;
                        top: 47.4rem;

                        .item__donate {
                            margin-left: -1.5rem;
                        }

                        button {
                            svg {
                                transform: scale(0.75);
                            }

                            p {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }

        .pay-and-feed {
            button {
                margin-top: 5rem;
                margin-bottom: 4rem;
            }

            .payment-process {
                margin-top: 5rem;
                padding-top: 0;

                .payment-step {
                    p {
                        margin-top: 1.3rem;
                    }
                }
            }
            &__container {
                margin-top: 6rem;
                width: 90%;

                .blue-arrow {
                    width: 5rem;
                }

                p {
                    margin-top: -2rem;
                }
            }

            h3 {
                margin-top: 4rem;
            }
        }

        .testimonials-range__container {
            margin-top: 5.5rem;
        }

        .testimonials__carousel {
            width: 83%;

            .arrow-left {
                margin-right: 2rem;
            }

            .arrow-right {
                margin-left: 2rem;
            }
        }

        .testimonials__carousel-user {
            width: 54%;
            .user-photo__container {
                margin-top: -1.6rem;
            }
            p {
                width: 75%;
            }
        }

        .testimonials {
            button {
                margin: 2.7rem auto;
            }

            #testimonials__title {
                margin-top: 10rem;
            }
        }

        .map {
            button {
                margin-top: 48.5rem;
            }
        }
    }
        

    .favorite-animal__container {
        
        .favorite-animal__wrapper {
            h2 {
                padding-top: 12.6rem;
                padding-left: 5.4rem;
            }

            button {
                margin-left: 5.4rem;
            }

            .carousel__container {
                margin-top: 3.4rem;
                margin-left: 50.4rem;

                &-animal {
                        width: 18rem;
                        height: 28rem;
                }
            }
        }
    }

    .mission {
        .mission__container {
            margin: 9rem auto;
            justify-content: space-around;
        }
    }
}

@media (max-width: 1000px) {
    .pets {
        &__carousel {
            justify-content: space-between;
            width: 100%;
        }
    }
}

@media (max-width: 1100px) {
    main {
        .pets {
            &__carousel {
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}

@media (max-width: 1190px) {
    main {
        .pay-and-feed {
            .payment-process {
                flex-direction: column;
                align-items: center;
            }
        }
        .pay-and-feed__container {
            .blue-arrow {
                transform: rotate(90deg);
                width: 4rem;
                margin-bottom: 3rem;
                margin-top: 3rem;
            }
        }

        .testimonials-arrow {
            display: none;
        }

        .testimonials__carousel-user {
            width: 100%;

            .user-photo__container {
                margin-top: -6.6rem;
            }
        }

        .testimonials__carousel > div:nth-child(2) {
            display: none;
        }

        .testimonials__carousel {
            width: 51%;
        }

        .map {
            height: 66.4rem;
            button {
                margin-top: 32.5rem;
            }
        }
    }

    footer {
        .footer__lower {
            margin-top: 7rem;
        }
    }

    .favorite-animal{
        .carousel {
            margin-top: 3.7rem;
            margin-left: -3rem;

        }
    }

    .favorite-animal__container {
        .favorite-animal__wrapper {
            width: 100%;

            h2 {
                padding-top: 12.6rem;
                padding-left: 2rem;
                width: 90%;
                font-size: 6rem;
                letter-spacing: 0.2rem;

            }
            .carousel__container {
                margin-left: 22%;
                margin-top: 8.4rem;
            }

            .carousel__container-animal {
                height: 61%;
            }
        }
    }
}

@media (max-width: 930px) {
    main {
        .arrow {
            display: none;
        }

        .pets__carousel {
            position: absolute;
            overflow: hidden;
            margin-top: 18rem;
            justify-content: flex-start;
            width: 96%;
        }

        .pets__carousel__items {
            min-width: 90rem;
        }

        .pets-range__container {
            margin-top: 39.5rem;
        }

        .testimonials__carousel {
            width: 91%;
        }

        .testimonials-range__container {
            margin-top: -1rem;
        }

        .favorite-animal {
            .carousel__container {
                width: 109.4rem;
            }

            #line {
                top: 59rem;
                left: 8.5%;
            }

            .carousel-range__container {
                margin-left: 45%;
                margin-top: -4.5rem;
            }

            .social-media {
                margin-top: 36.8rem;
                margin-left: 2.4rem;
            }
        }

        .how-it-works__container {
            margin-top: 2.5rem;

            p {
                width: 93%;
            }

            img {
                height: 32.5rem;
                margin-top: 1.4rem;
            }
        }

        .map {
            margin-top: -6.5rem;
        }
    }

    .favorite-animal__container {
        .favorite-animal__wrapper {
            .carousel__container-animal {
                margin-bottom: 3rem;
            }
        }
    }
}

@media (max-width: 750px) {
    main {
        .mission {
            height: 84.3rem;

            .mission__card {
                width: 56%;
                margin-bottom: 5rem;

                h3 {
                    margin-top: 0.4rem;
                }
            }

            &__container {
                flex-direction: column;
                align-items: center;
            }
        }

        .pets__carousel {
            margin-top: 16rem;

            &__items {
                margin-left: 1rem;
            }
        }

        .pets-range__container {
            margin-top: 33.15rem;
        }

        .pay-and-feed__container {
            .blue-arrow {
                margin-top: 6rem;
            }
        }
    }
}

@media (max-width: 450px) {
    main {
        .favorite-animal {
            .carousel__container-animal-active {
                margin-left: -17rem;
                width: 14rem;
                height: 20.2rem;

                img {
                    width: 14rem;
                    height: 20.2rem;
                    margin-left: 2rem;
                }

                .description {
                    margin-left: 3.5rem;
                    width: 12rem;
                    font-size: 1.2rem;
                    letter-spacing: 0rem;
                    margin-top: -13rem;
                }

                button {
                    padding-right: 2.4rem;
                    height: 3rem;
                    margin-bottom: 1.5rem;

                    p {
                        font-size: 1rem;
                    }
                }
            }
            .social-media {
                display: none;
            }

            .carousel__container {
                height: 27.1rem;
                width: 101.4rem;
            }

            .carousel__container-animal {
                .animal-item {
                    width: 11.3rem;
                }
            }

            .carousel__container-animal:hover {
                .description {
                    width: 10rem;
                }
            }

            .carousel__container-animal__buttons {
                width: 10rem;
                flex-direction: column;
                margin-top: -5rem;
                height: 1.9rem;

                button {
                    width: 12rem;
                }
            }

            .carousel__container-animal-active__buttons {
                flex-direction: column;
                font-size: 1rem;
                margin-top: 2rem;
                margin-left: 2.5rem;
            }

            #line {
                top: 45rem;
                left: 1.5%;
            }

            .carousel-range__container {
                margin-left: 45%;
                margin-top: 23.7rem;
                width: 15rem;

                input[type="range"] {
                    width: 13.5rem;
                    margin-top: 0rem;
                }

                input[type=range]::-webkit-slider-thumb {
                    width: 1.7rem;
                }
            }

            label {
                margin-top: 1rem;
            }
        }

        .favorite-animal__container {
            height: 66.2rem;
        }
        
        .how-it-works__container {
            h3 {
                padding-left: 1rem;
                font-size: 3.8rem;
                margin-top: 2.3rem;
                letter-spacing: -0.09rem;
            }

            button {
                margin-top: 1.3rem;
            }

            p {
                font-size: 1.4rem;
                margin-top: -2.7rem;
                width: 30rem;
                letter-spacing: 0rem;
            }

            .how-it-works__range-container {
                margin-top: 2.8rem;

                input[type=range]::-webkit-slider-thumb {
                    width: 8rem;
                }

                input[type="range"] {
                    width: 23.5rem;
                }
            }
        }

        .mission {
            height: 71.9rem;
            .mission__container {
                width: 100%;
                margin: 5rem auto;

                .mission__card {
                    width: 33rem;
                    margin-bottom: 3.03rem;
                }
            }
        }

        .pets {
            h3 {
                font-size: 3.6rem;
            }

            #choose-button {
                margin-top: 2rem;
            }
        }

        .pets__container {
            margin-top: -2.6rem;
        }

        .pets__carousel__items {
            margin-left: 0.4rem;
            margin-top: -1.6rem;
        }

        .pets-range__container {
            margin-top: 32.3rem;
        }

        .pay-and-feed {
            margin-top: -5rem;

            .payment-process {
                margin-top: -4rem;
                .payment-step {
                    margin-top: 3rem;

                    img {
                        margin-top: 2rem;
                    }
                }
            }

            button {
                margin-top: 2.5rem;
                margin-bottom: -1rem;
            }
        }

        .pay-and-feed__container {
            h3 {
                font-size: 3.6rem;
                margin-top: -1.7rem;
            }

            .blue-arrow {
                margin-top: 4rem;
            }

            #payment-description {
                display: none;
            }
        }

        .testimonials {
            #testimonials__title {
                margin-top: 4.5rem;
                font-size: 3.6rem;
            }

            button {
                margin: 1.6rem auto;
            }
        }

        .testimonials__range-container {
            margin-top: -0.6rem;
        }

        .testimonials__carousel-user {
            margin-top: -2rem;
            height: 36rem;

            h3 {
                font-size: 1.6rem;
                padding-top: 4rem;
                margin: 0;
            }

            .user-photo__container {
                margin-top: -4.6rem;
            }

            p {
                width: 93%;
                margin-top: 2rem;
            }
        }

        .pets__carousel__user {
            margin-top: -2rem;
        }

        .map {
            margin-top: -10rem;

            .map-animal {
                width: 3.4rem;
                height: 4.7rem;
            }

            .map-animal-image {
                width: 2.2rem;
                height: 2.2rem;
            }

            .map-eagle {
                left: 4%;
                top: 1.2%;
            }

            .map-crocodile {
                left: 13.6%;
                top: 4%;
            }

            .map-gorilla {
                left: 44.7%;
                top: 8.5%;
            }

            .map-panda {
                left: 74.39%;
                top: 1.9%;
            }

            button {
                margin-top: 16.2rem;
                
                p {
                    width: 13rem;
                }
            }

            h3 {
                margin-top: 4.4rem;
                font-size: 3.6rem;
            }
        }

        .map__container {
            height: 20rem;
            margin-top: 12.5rem;
        }
    }
   
    .favorite-animal__container {        
        .favorite-animal__wrapper {
            h2 {
                font-size: 4.8rem;
                padding-top: 9rem;
                padding-left: 1rem;
                width: 95%;
                letter-spacing: 0;
            }

            button {
                margin-left: 4.1rem;
                margin-top: -2.4rem;

                p {
                    width: 56%;
                }
            }

            .carousel__container {
                margin-left: 4%;
                margin-top: 4.4rem;
            }

            .carousel__container-animal {
                margin-left: -6rem;
            }
        }
    }
}