$gray1: #333333;
$gray6: #F2F2F2;
$gray2: #4F4F4F;
$gray4: #bdbdbd;
$gray2-round: #1B1B1B;
$base: #FEFEFE;
$gradient-green: #4BD8B5;
$gradient-blue: #49D6DF;

@mixin range {
    input[type=range] {
        height: 0.5rem;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 24.5rem;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #B6B6B6;
        border-radius: 0px;
      }
      input[type=range]::-webkit-slider-thumb {
        height: 10px;
        width: 30px;
        border-radius: 0px;
        background: $gray1;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -2.5px;
      }
      input[type="range"]::-webkit-slider-container {
          height: 0.5rem;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #B6B6B6;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #B6B6B6;
        border-radius: 0px;
        border: 0px solid #8A8A8A;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #828282;
        border: 0px solid #8A8A8A;
        height: 10px;
        width: 30px;
        border-radius: 0px;
        background: #FEFEFE;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #B6B6B6;
        border: 0px solid #8A8A8A;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000;
      }
      input[type=range]::-ms-fill-upper {
        background: #B6B6B6;
        border: 0px solid #8A8A8A;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #828282;
        border: 0px solid #8A8A8A;
        height: 10px;
        width: 30px;
        border-radius: 0px;
        background: #FEFEFE;
        cursor: pointer;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #B6B6B6;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #B6B6B6;
      }
}

@mixin navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 57.3rem;

    .nav-item-active {
        text-decoration: underline;
        font-weight: 900;
        pointer-events: none;
        cursor: none;
    }

    .nav-item {
        font-size: 1.6rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            text-decoration: underline;
            font-weight: 900;
        }

        a {
            text-transform: capitalize;
        }
    }
}

.dark-theme {
    header {
        background: #333;
    }
}

html { 
    font-size: 10px; 
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

header {
    background-color: #fff;
    height: 9.4rem;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
    display: flex;

    #menu {
        display: none;
        margin-left: 4rem;
        height: 2.1rem;
        width: 4rem;

        .line {
            width: 100%;
            height: 3px;
            background: #49D6DF;
        }

        .line3 {
            width: 90%;
        }
    }

    .header-wrapper {
        display: flex;
        width: 162rem;
        margin: 0 15rem;
        justify-content: space-between;

        ul {
            padding: 0;
            padding-top: 1rem;
            margin-left: 3rem;
            @include navbar();
            .nav-item > a {
                color: $gray1;
            }
        }
    }

    .switch-menu {
        display: flex;
        width: 12.8rem;
        justify-content: space-evenly;
        align-items: center;
        margin-right: -4rem;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 5.4rem;
        height: 3rem;

        input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $gray6;
            -webkit-transition: .4s;
            transition: .4s;
            width: 5.4rem;
            height: 3rem;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 2rem;
            width: 2rem;
            left: 7px;
            bottom: 6px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: $gray2;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(2rem);
            -ms-transform: translateX(2rem);
            transform: translateX(2rem);
          }
        
          .slider.round {
            border-radius: 3.4rem;
          }

          input:checked + .slider.round:before {
              background-color: $gray2-round;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }
    }
}


main {
    width: 100%;
    height: 100%;

    label {
        color: $gray1;
        font-size: 2.4rem;
        font-weight: 900;
    }

    .range-amount {
        font-size: 1.4rem;
        line-height: 1.641rem;
        color: #B6B6B6;
        font-weight: 900;
    }

    .arrow {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0.5;
        }
    }

    .arrow-dark {
         svg {
            path {
                fill: #e0e0e0;
            }
        }
    }

    .arrow-left {
        transform: rotate(180deg);
    }

    .favorite-animal {
        margin: 0 auto;
        height: 94rem;
        width: 192rem;
        overflow: hidden;
        background-size: cover;
        background-color: none;
        width: 100%;
        position: absolute;
        overflow: hidden;

        &__container {
            background-image: url(../../assets/landing/landing.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 94rem;
            display: flex;
            justify-content: center;
        }

        label {
            color: $base;
        }

        &__wrapper {
            max-width: 162rem;
            margin: 0 auto;
            height: 100%;
            width: 84%;

            h2 {
                color: $base;
                font-size: 8.9rem;
                font-weight: 900;
                margin: 0;
                padding-top: 20.6rem;
                padding-left: 21rem;
                width: 79.3rem;
            }

            button {
                margin-left: 21rem;
                
                img {
                    padding-right: 0.5rem;
                }
            }
        }

        .carousel {
            display: flex;
            margin-top: 3.7rem;
        }

        #line {
            position: absolute;
            top: 58.6rem;
            left: 43.7%;
        }

        .carousel__container {
            display: flex;
            align-items: center;
            width: 107.4rem;
            height: 42.1rem;
            margin-top: -6.4rem;
            margin-left: 40.7%;
            position: absolute;
            justify-content: space-evenly;
            overflow: hidden;

            &-animal {
                width: 14rem;
                height: 20.3rem;
                overflow: hidden;
                transition: all 0.5s ease-in-out;
                cursor: pointer;

                .animal-item {
                    width: 100%;
                    height: 100%;
                }

                .dollar {
                    position: absolute;
                    margin-left: -4.5rem;
                    margin-top: 0.25rem;
                }

                a {
                    list-style: none;
                }

                &__buttons {
                    display: flex;
                }

                .description {
                    color: $base;
                    width: 13rem;
                }

                &:hover {
                    transform: scale(1.1);
                    transition: all 0.5s ease-in-out;
                    cursor: pointer;

                    button,
                    .description {
                        opacity: 1;
                        transition: 1s;
                        transform: translateY(-11rem);
                    }
                }

                button {
                    width: 7rem;
                    font-size: 1rem;
                    background: none;
                    margin: 0 auto;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;

                    &:hover {
            
                        p {
                            background: white;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
        
                        circle {
                            stroke: white;
                        }
        
                        path {
                            fill: white;
                        }
                      }
                    p {
                        width: 9rem;
                        text-align: left;
                        background: -webkit-linear-gradient($gradient-green, $gradient-blue);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        &:hover {
                            color: white;
                        }
                    }
                }

                &__buttons {
                    display: flex;
                }

                &-active {
                    width: 24.5rem;
                    height: 35.2rem;
                    margin-bottom: 3.4rem;

                    .dollar {
                        margin-left: -9.6rem;
                        position: absolute;
                    }

                    button,
                    .description {
                        opacity: 1;
                        margin-top: -11rem;
                    }

                    button {
                        width: 15.4rem;
                        font-size: 1.2rem;
                        background: none;
                        margin: 0 auto;
                        margin-top: -1.2rem;
                        opacity: 1;
                        margin-right: -1.4rem;

                        &:hover {
                
                            p {
                                background: white;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
            
                            circle {
                                stroke: white;
                            }
            
                            path {
                                fill: white;
                            }
                          }
                        p {
                            width: 9rem;
                            text-align: left;
                            background: -webkit-linear-gradient($gradient-green, $gradient-blue);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            &:hover {
                                color: white;
                            }
                        }
                    }

                    &__buttons {
                        margin-top: -11rem;
                        opacity: 1;
                        display: flex;
                    margin: 0 auto;
                    }

                    .description {
                        width: 18.4rem;
                        height: 4.8rem;
                        font-weight: 400;
                        color: #fff;
                        font-size: 1.4rem;
                        margin-top: -12.4rem;
                        margin-left: 2.2rem;
                    }
                }
            }
        }

        .social-media {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 2rem;
            height: 10.7rem;
            margin-top: 21.6rem;

            img {
                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .carousel-range__container {
            margin-left: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 900;
            font-size: 2.4rem;
            color: white;
            margin-top: -4.8rem;

            @include range();
            input[type=range]::-webkit-slider-thumb {
                background: $base;
            }
        }
    }

    .how-it-works {
        width: 100%;
        height: 88.3rem;
        background: white;
        align-items: center;
        display: flex;
        justify-content: center;

        &__container {
            max-width: 79rem;
            width: 100%;
            margin: auto;
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2.5rem;

            h3 {
                align-self: baseline;
                padding-left: 0;
                margin-top: 7rem;
            }

            p {
                font-size: 14px;
                line-height: 16px;
                color: $gray2;
                margin-top: -1.5rem;
            }

            img {
                margin-top: 1.4rem;
            }

            button > img {
                margin: 0;
            }

            button {
                margin: 0 auto;
                margin-top: 2.3rem;

                img {
                    padding-right: 0.5rem;
                }

                p {
                    color: $base;
                    font-size: 1.8rem;
                    margin: 0;
                }
            }
        }

        &__range-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2.9rem;

            @include range();
            input[type=range]::-webkit-slider-thumb {
                width: 6rem;
            }
        }
    }

    .dark {
        input[type=range]::-webkit-slider-thumb {
            background: $base;
        }

        label {
            color: $base;
        }
    }

    .mission {
        padding-top: 2rem;
        background-color: $gray6;
        width: 100%;
        height: 39.3rem;

        h3 {
            font-size: 2rem;
            margin-top: -0.6rem;
        }

        &__container {
            width: 76.5%;
            max-width: 120rem;
            margin: 10rem auto;
            display: flex;
            justify-content: space-between;
        }

        .mission__card {
            width: 31%;
            max-width: 38rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: $gray2;
                margin-top: -2rem;
            }

            img {
                width: 8rem;
                height: 8rem;
                margin-top: -2rem;
            }
        }
    }

    .pets {
        width: 100%;
        
        .dollar {
            margin-top: 0.25rem;
            margin-left: -9.1rem;
            position: absolute;
        }

        &__buttons {
            position: absolute;
            top: 45.6rem;
            display: flex;
            width: 100%;
        }

        button {
            border: none;
            width: 13.4rem;
            display: flex;
            margin: 0 auto;
            outline: none;
            cursor: pointer;
            background: none;
            height: 4.8rem;
            font-weight: 500;
            color: #fff;
            font-size: 1.4rem;
            margin: -2rem auto;

            &:hover {    
                p {
                    background: -webkit-linear-gradient($gradient-green, $gradient-blue);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                circle {
                    stroke: url(#MyGradient);
                }

                path {
                    fill: url(#MyGradient);
                }
              }

            p {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.2rem;
                width: 9rem;
                text-align: left;
                padding-left: 0.3rem;
                background: white;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__container {
            align-items: center;
            display: flex;
            flex-direction: column;
            max-width: 134rem;
            // width: 100%;
            margin: 0 auto;
        }

        &-range__container {
            height: 4.9rem;
            width: 24.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 900;
            margin-top: 4rem;
            justify-content: space-around;

            @include range();
        }

        .dark {
            input[type=range]::-webkit-slider-thumb {
                background: $base;
            }
        }

        #choose-button {
            width: 24.5rem;
            height: 5.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(#4BD8B5, #49D6DF);
            text-transform: uppercase;
            color: white;
            font-size: 1.8rem;
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            outline: none;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            margin-top: 3rem;
            margin-bottom: 10rem;
        }

        h3 {
            font-size: 4.8rem;
            margin-top: 10rem;
        }

        &__carousel {
            width: 97%;
            display: flex;
            align-items: center;
        }

        #carousel {
            color: $base;
        }

        &__carousel__items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 92%;
            margin: 0 auto;
            height: 37.9rem;

            img {
                width: 100%;
                height: 100%;
            }

            .item {
                height: 39.9rem;
                max-width: 27.8rem;
                width: 32%;
                overflow: hidden;
                display: block; 
                position: relative; 
                transition: all 0.3s ease-in-out;

            &:after { 
                content: ''; 
                position: absolute; 
                top: 0; 
                left: 0; 
                right: 0; 
                bottom: 0; 
                background: rgba(0,0,0,.2);  
                opacity: 0; 
                transition: all 1s ease-in-out;
            }

            &:before { 
                content: ''; 
                position: absolute; 
                top: 0; 
                left: 0; 
                right: 0; 
                bottom: 0; 
                background: url(icon-path); 
                opacity: 0; 
            }

                &:hover {
                    transform: scale(1);
                    cursor: pointer;

                    &:before,
                    &:after {
                        opacity: 1;
                    }

                    button,
                    .description {
                        opacity: 1;
                        transition: 1s;
                        transform: translateY(-11rem);
                        z-index: 1000;
                        transition: all 1s ease-in-out;
                    }
                }
            }

            .description
             {
                width: 19.4rem;
                height: 4.8rem;
                color: #fff;
                font-size: 1.4rem;
                margin: -2rem auto;
                opacity: 0;
                z-index: 1000;
            }
        }
    }

    .pay-and-feed {
        background: $gray6;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__container {
            text-align: center;
            width: 80%;
            margin-bottom: 10rem;

            h3 {
                margin-top: 10rem;
            }

            p {
                margin-top: -2rem;
            }
        }

        button {
            margin: 0 auto;
            margin-top: 6rem;
        }

        .payment-process {
            display: flex;
            justify-content: space-evenly;
            padding-top: 7rem;
            width: 86%;
            margin: 0 auto;

            .payment-step {
                background-image: url(../../assets/landing/ellipse.png);
                width: 24.5rem;
                height: 24.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-repeat: no-repeat;

                img {
                    margin-top: 4rem;
                }

                p {
                    font-weight: 900;
                    line-height: 5.6rem;
                    color: #4f4f4f;
                    font-size: 2rem;
                    width: 13.5rem;
                    line-height: 2rem;
                    margin-top: 2rem;
                }
            }
        }

        p {
            font-size: 1.4rem;
        }
    }

    .testimonials {
        height: 86rem;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: -2rem;

        &__container {
            width: 136rem;
            margin: 0 auto;
        }

        #testimonials__title {
            padding-top: 10rem;
        }

        h3 {
            margin-top: 1.8rem;
        }

        &__range-container {
            display: flex;
            flex-direction: column;
            width: 24.5rem;
            height: 4.9rem;
            margin: 0 auto;
            @include range();
        }

        .dark {
            input[type=range]::-webkit-slider-thumb {
                background: $base;
            }
        }
        
        &__carousel {
                max-width: 136rem;
                margin: 5rem auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                &-user {
                    width: 57.5rem;
                    height: 32rem;
                    background: #FEFEFE;
                    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        font-size: 2rem;
                        line-height: 2.344rem;
                    }

                    p {
                        font-size: 1.4rem;
                        color: $gray2;
                        width: 44rem;
                        text-align: left;
                        margin-top: -1rem;
                    }

                    .user-photo {
                        &__container {
                            background-image: url(../../assets/landing/user-ellipse.svg);
                            width: 6.8rem;
                            height: 6.8rem;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            margin-top: -4.6rem;
                        }
                    }
                }
        }

        button {
            margin: 2.3rem auto;
        }
    }

    .map {
        height: 90.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $gray6;
        margin-top: -5rem;

        h3 {
            margin-top: 10rem;
        }

        button {
            margin-top: 54rem;

            img {
                padding-right: 0.5rem;
            }
        }

        .popup {
            background: $base;
            height: 14.9rem;
            width: 43.6rem;
            box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
            border-radius: 8px; 
            align-items: center;
            position: absolute;
            display: none;
            opacity: 0;



            img {
                width: 6.5rem;
                height: 6.5rem;
                padding-left: 4.4rem;
            }

            &__description {
                margin-left: 2rem;

                .species {
                    font-size: 1.8rem;
                    color: $gray1;
                    font-weight: 900;
                }

                .facts {
                    font-size: 1.4rem;
                    color: $gray2;
                    line-height: 1.6rem;

                    ul {
                        list-style: none;
                        padding-left: 0;

                        span {
                            font-weight: 500;
                            color: $gray1;
                        }
                    }
                }
            }
        }

        #popup-panda {
            top: 15.9rem;
            left: 96rem;
        }

        #popup-eagle {
            top: 15.9rem;
            left: -23.3rem;
        }

        #popup-crocodile {
            left: -11rem;
            top: 19rem;
        }

        #popup-gorilla {
            left: 22rem;
            top: 27rem;
        }

        &__container {
            height: 50rem;
            width: 84%;
            max-width: 130rem;
            background-image: url(../../assets/landing/map.png);
            background-repeat: no-repeat;
            background-position-x: center;
            background-size: contain;
            position: absolute;
            margin-top: 22rem;
        }

        .map-animal {
            display: block;
            content: ' ';
            background: url(../../assets/landing/test.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 6.7rem;
            height: 9.3rem;

            &:hover,
            .map-animal-image:hover {
                cursor: pointer;
                background: url(../../assets/landing/test2.png);
            }
        }

        .map-animal:hover + .popup {
            display: flex;
            opacity: 1;
        }

        .map-crocodile {
            position: absolute;
            left: 22.6%;
            top: 16%;
        }

        .map-eagle {
            position: absolute;
            left: 13%;
            top: 13.2%;
        }

        .map-panda {
            position: absolute;
            left: 72.39%;
            top: 16.9%;
        }

        .map-animal-image {
            position: absolute;
            left: 19%;
            top: 12.7%;
            width: 4.3rem;
            height: 4.3rem;
        }

        .map-gorilla {
            position: absolute;
            left: 47.7%;
            top: 36.5%;
        }
    }
}

footer {
    width: 100%;
    // height: 75.1rem;
    background: $gray1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
        @include navbar();
        width: 40.4rem;
        li > a {
            color: $base;
        }
    }

    .footer__navbar {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    .footer__container {
        max-width: 162rem;
        width: 85%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        margin-top: 6.6rem;

        .footer__left {
            display: flex;
            flex-direction: column;
            margin-top: -0.5rem;
            width: 53%;

            form {
                margin-top: -1.18rem;
                width: 38rem;
            }                

            .logo {
                margin-top: 1.6rem;
            }

            label {
                color: $gray4;
                line-height: 1.72rem;
            }

            fieldset {
                height: 12.4rem;
                margin-bottom: 2rem;
                margin-top: 3rem;
            }

            input[type="text"] {
                margin-top: 0.6rem;
            }

            input[type="email"] {
                margin-top: 1rem;
            }

            input[type="text"],
            input[type="email"] {
                width: 38rem;
                height: 2.8rem;
            }

            h3 {
                color: $base;
                font-size: 2rem;
                margin-top: 4.8rem;
            }
        }

        .footer__right {
            margin-top: -0.9rem;
            margin-left: 5rem;
            width: 55%;

            h4 {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: $base;
                margin-top: 6rem;
            }

            address {
                width: 19rem;
                display: flex;
                flex-direction: column;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: $base;
                height: 9.4rem;
                justify-content: space-between;
                margin-top: 2.5rem;
                height: 9.9rem;

                p {
                    margin: 0;
                    margin-top: 0.9rem;
                }

                a {
                    color: $base;
                }
            }

            .social-media {
                flex-direction: row;
                width: 12.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.1rem;

                img {
                    transition: all 0.3s ease-in-out;
                }

                img:hover {
                    opacity: 0.5;
                }
            }
        }

        button[type="submit"] {
            width: 10.8rem;
            height: 1.6rem;
            justify-content: space-between;
            background: rgba(0,0,0,0);
            font-size: 1.4rem;
            margin-left: 26rem;
            margin-top: 1.8rem;
            
            &:hover {
            opacity: 0.5;
        }
        }

    .footer__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            max-width: 79.5rem;            
            ul {
                max-width: 40.4rem;
                width: 100%;
                justify-content: space-between;
                padding: 0;
                margin-right: 11rem;
                width: 140%;
            }
        }

        button {
            width: 27.9rem;
        }
    }

        path {
            fill: $base;
        }
    }

    .footer__lower {
        max-width: 162rem;
        width: 85%;
        border-top: 0.05rem solid rgba(254, 254, 254, 0.5);
        margin-top: 6rem;
        padding-top: 3.1rem;
        color: $gray4;
        font-size: 1.2rem;
        margin-bottom: 10rem;

        a {
            pointer-events: none;
            color: $gray4;
        }
    }
}
