html {
  font-size: 10px;
}

body {
  margin: 0;
  width: 100%;
}

h3 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #333333;
  font-size: 2rem;
}

header {
  width: 100%;
  background-color: #fff;
  height: 9.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header h1 {
  display: none;
}

header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 57.3rem;
}

header .header-wrapper ul .nav-item-active {
  text-decoration: underline;
  font-weight: 900;
}

header .header-wrapper ul .nav-item {
  font-size: 1.6rem;
}

header .header-wrapper ul .nav-item a {
  text-transform: capitalize;
  text-decoration: none;
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

header .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

header .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2F2F2;
  -webkit-transition: .4s;
  transition: .4s;
}

header .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

header .switch input:checked + .slider {
  background-color: #4F4F4F;
}

header .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

header .switch .slider.round {
  border-radius: 34px;
}

header .switch input:checked + .slider.round:before {
  background-color: #1B1B1B;
}

header .switch .slider.round:before {
  border-radius: 50%;
}

main {
  width: 100%;
  background-color: green;
  height: 100vh;
}

main .favorite-animal {
  background-image: url(../../assets/landing/landing.png);
  margin: 0 auto;
  height: 94rem;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  position: absolute;
}

main .favorite-animal__wrapper {
  width: 84.375%;
  margin: 0 auto;
  height: 100%;
}

main .favorite-animal__wrapper h2 {
  color: #FEFEFE;
  font-size: 8.9rem;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 20.6rem;
  padding-left: 22rem;
  width: 79.3rem;
}

main .favorite-animal__wrapper button {
  width: 24.5rem;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#4BD8B5), to(#49D6DF));
  background: linear-gradient(#4BD8B5, #49D6DF);
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 22rem;
}

main .favorite-animal__wrapper button:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: -webkit-gradient(linear, left top, left bottom, from(#49D6DF), to(#4BD8B5));
  background: linear-gradient(#49D6DF, #4BD8B5);
}

main .favorite-animal__wrapper button p {
  padding-left: 0.5rem;
}

main .favorite-animal .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.7rem;
}

main .favorite-animal #line {
  position: absolute;
  top: 60rem;
  left: 43%;
}

main .favorite-animal .carousel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 107.4rem;
  height: 42.1rem;
  top: 39.6rem;
  margin-left: 40.7%;
  position: absolute;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
}

main .favorite-animal .carousel__container-animal {
  width: 14rem;
  height: 20.3rem;
  overflow: hidden;
}

main .favorite-animal .carousel__container-animal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .favorite-animal .carousel__container-animal:hover {
  -webkit-transform: scale(1.74);
          transform: scale(1.74);
  -webkit-transition: 1s;
  transition: 1s;
}

main .favorite-animal .carousel__container-animal-active {
  width: 24.5rem;
  height: 35.2rem;
}

main .favorite-animal .carousel__container-animal-active:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 5s;
  transition: 5s;
}

main .favorite-animal .carousel__container-animal-active:hover button,
main .favorite-animal .carousel__container-animal-active:hover .description {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-11rem);
          transform: translateY(-11rem);
}

main .favorite-animal .carousel__container-animal-active button {
  width: 13.4rem;
  font-size: 1.2rem;
  background: none;
  margin: 0 auto;
  opacity: 0;
}

main .favorite-animal .carousel__container-animal-active button p {
  width: 9rem;
  text-align: left;
  background: -webkit-linear-gradient(#4BD8B5, #49D6DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .favorite-animal .carousel__container-animal-active .description {
  width: 19.4rem;
  height: 4.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.4rem;
  margin: 0 auto;
  opacity: 0;
}

main .favorite-animal .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2rem;
  height: 10.7rem;
  margin-top: 21.6rem;
}

main .favorite-animal .social-media img:hover {
  opacity: 0.5;
  cursor: pointer;
}

main .favorite-animal .carousel-range__container {
  margin-left: 40.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.4rem;
  color: white;
}

main .favorite-animal .carousel-range__container #carousel-range {
  width: 24.5rem;
  outline: none;
}

main .favorite-animal .carousel-range__container #carousel-range::-webkit-slider-runnable-track {
  height: 0.7rem;
  cursor: pointer;
  background: yellow;
  opacity: 57%;
}

main .favorite-animal .carousel-range__container #carousel-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 0.5rem;
  background: green;
  border: 1px solid;
  margin-top: -5px;
}

main .how-it-works {
  width: 100%;
  height: 88.3rem;
  position: absolute;
  margin-top: 94rem;
  background: white;
}

main .how-it-works #how-it-works-range {
  width: 24.5rem;
}

main .how-it-works__container {
  width: 79rem;
  height: 68.2rem;
  margin: 10rem auto;
}

main .how-it-works__container p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
}

main .how-it-works__container button {
  width: 24.5rem;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#4BD8B5), to(#49D6DF));
  background: linear-gradient(#4BD8B5, #49D6DF);
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 3rem auto;
}

main .how-it-works__container button:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: -webkit-gradient(linear, left top, left bottom, from(#49D6DF), to(#4BD8B5));
  background: linear-gradient(#49D6DF, #4BD8B5);
}

main .how-it-works__container button p {
  padding-left: 0.5rem;
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

main .how-it-works__range-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 2.9rem;
}

main .how-it-works__range-container .how-it-works-range {
  width: 24.5rem;
  height: 4.9rem;
}

main .mission {
  position: absolute;
  margin-top: 181.3rem;
  background-color: #F2F2F2;
  width: 100%;
  height: 41.3rem;
}

main .mission__container {
  width: 120rem;
  margin: 10rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .mission .mission__card {
  width: 38rem;
  height: 21.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .mission .mission__card p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #4F4F4F;
}

main .mission .mission__card img {
  width: 8rem;
  height: 8rem;
}

main .pets {
  height: 85.4rem;
  margin-top: 222.6rem;
  position: absolute;
  width: 100%;
}

main .pets__buttons {
  position: absolute;
  top: 45.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .pets button {
  border: none;
  width: 13.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  background: none;
  height: 4.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1.4rem;
  margin: -2rem auto;
  opacity: 0;
}

main .pets button:hover p {
  background: -webkit-linear-gradient(#4BD8B5, #49D6DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .pets button:hover circle {
  stroke: url(#MyGradient);
}

main .pets button:hover path {
  fill: url(#MyGradient);
}

main .pets button p {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4rem;
  font-size: 1.2rem;
  width: 9rem;
  text-align: left;
  padding-left: 0.3rem;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .pets__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .pets-range__container {
  height: 4.9rem;
  width: 24.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 2.9rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .pets-range__container #pets-range {
  width: 24.5rem;
}

main .pets #choose-button {
  width: 24.5rem;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#4BD8B5), to(#49D6DF));
  background: linear-gradient(#4BD8B5, #49D6DF);
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 3rem;
}

main .pets #choose-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#49D6DF), to(#4BD8B5));
  background: linear-gradient(#49D6DF, #4BD8B5);
}

main .pets h3 {
  font-size: 4.8rem;
  margin-top: 10rem;
}

main .pets__carousel__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130.2rem;
}

main .pets__carousel__items img {
  width: 100%;
  height: 100%;
}

main .pets__carousel__items .item {
  height: 39.9rem;
  width: 27.8rem;
  display: block;
  position: relative;
}

main .pets__carousel__items .item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

main .pets__carousel__items .item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(icon-path);
  opacity: 0;
}

main .pets__carousel__items .item:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 5s;
  transition: 5s;
  cursor: pointer;
}

main .pets__carousel__items .item:hover:before, main .pets__carousel__items .item:hover:after {
  opacity: 1;
}

main .pets__carousel__items .item:hover button,
main .pets__carousel__items .item:hover .description {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-11rem);
          transform: translateY(-11rem);
  z-index: 1000;
}

main .pets__carousel__items .description {
  width: 19.4rem;
  height: 4.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.4rem;
  margin: -2rem auto;
  opacity: 0;
  z-index: 1000;
}

main .pets__carousel__items .arrow {
  cursor: pointer;
}

main .pets__carousel__items .arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .pay-and-feed {
  height: 75.4rem;
  background: #F2F2F2;
  margin-top: 308rem;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pay-and-feed__container {
  text-align: center;
  width: 80%;
}

main .pay-and-feed__container button {
  width: 24.5rem;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#4BD8B5), to(#49D6DF));
  background: linear-gradient(#4BD8B5, #49D6DF);
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  margin-top: 6rem;
}

main .pay-and-feed__container button:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: -webkit-gradient(linear, left top, left bottom, from(#49D6DF), to(#4BD8B5));
  background: linear-gradient(#49D6DF, #4BD8B5);
}

main .pay-and-feed .payment-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 9.2rem;
}

main .pay-and-feed .payment-process .payment-step {
  background-image: url(../../assets/landing/ellipse.png);
  width: 24.5rem;
  height: 24.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .pay-and-feed .payment-process .payment-step p {
  font-family: Roboto;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #333333;
  font-size: 2rem;
  width: 13.5rem;
  line-height: 2rem;
}

main .pay-and-feed p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

main .pay-and-feed h3 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #333333;
}
/*# sourceMappingURL=style.css.map */