.settings-field {
    box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
    width: 60%;
    height: 55%;
    color: #415a97;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 31%;
}