* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    height: 100vh;
}

body {
    height: 100vh;
    color: darkgray;
    font-family: sans-serif;
    background: #f9f9fd;
}

#app {
    min-height: calc(100vh - 2rem);
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
} 
