.header-button {
    width: 5rem;
    height: 1.5rem;
    border-radius: 5px;
    border: white solid 1px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    background-color: #415a97;
    transition: all 0.5s ease-in-out;


    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 40%);
        background-color: white;
        color: #415a97;
    }
}