.about-field {
    box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
    width: 90%;
    height: 75%;
    color: #415a97;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}